{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block body_class %}templates-registration{% endblock %}

{% block content%}
  <div class="jumbotron jumbotron-fluid bg-success">
       <div class='container'>
         <h1 class='display-1  ' > Thank You for Signing up </h1>
         <p> You should check your emails for any responses from us </p>

         <h4> Welcome to the Future ! </h4>
         <a class='btn btn-lg btn-secondary' href='/'> Go Home </a>
      </div>
  </div>

{% endblock %}
